/* Mobile styles (max-width: 767px) */
@media screen and (max-width: 1399px) {}

@media screen and (max-width: 1199px) {
    .after-banner .after-banner-main {

        padding: 40px 50px;

    }

    .todo-item {
        height: 540px !important;

    }
}

@media screen and (max-width: 1099px) {
    .main-nav {
        position: fixed;
        top: 0;
        right: -100%;
        width: 50%;
        height: 100vh;
        background: #fff;
        box-shadow: -2px 0 6px rgba(0, 0, 0, 0.2);
        transition: right 0.3s ease;
        padding: 2rem 1rem;
        z-index: 999;
    }

    .main-nav.open {
        right: 0;
    }

    .main-nav ul {
        flex-direction: column;
        gap: 1rem;
    }

    .main-nav ul li {
        width: 100%;
    }

    .main-nav ul li a {
        display: block;
        font-size: 18px;
    }

    /* Toggle buttons */
    .menu-toggle,
    .menu-close {
        background: none;
        border: none;
        font-size: 28px;
        cursor: pointer;
        display: block;
    }

    .menu-close {
        display: block;
        margin-left: auto;
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 1024px) {
    .todo-item {
        height: 510px !important;

    }

    .todo-item h2 {

        font-size: 40px;

    }

    .deal_left h2 {
        font-size: 28px;
    }

    .fs-5 {
        font-size: 1.25rem !important;
    }

    .blog-banner-main img {

        height: 550px;

    }

    .blog-heading h2 {
        font-size: 32px;

    }
}

@media screen and (max-width: 991px) {
    .banner-section {
        min-height: 60vh;
    }

    .banner-section h2 {
        font-size: 2rem;
    }

    .banner-section p {
        font-size: 1rem;
    }

    .footer-links {
        padding-left: 0;
    }

    .footer-top {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 15px;
    }

    .footer-logo {
        grid-column: 1 / -1;
    }

    .footer-links,
    .footer-contact {
        grid-column: auto;
        padding-left: 0;
    }

    .after-banner .after-banner-main {
        padding: 30px 40px;
    }

    .internal-banner {
        min-height: 55vh;
    }

    .blog-heading h2 {
        font-size: 1.8rem;
    }

    .blog-paragraph p {
        font-size: 1rem;
    }
}

@media screen and (max-width: 767px) {
    .after-banner {
        padding: 40px 15px;
    }

    .after-banner p {
        font-size: 1rem;
    }

    .footer-bottom {
        flex-direction: column;
        justify-content: center;
        gap: 1.25rem;
        padding-top: 1.5625rem;
    }

    .footer-top {
        grid-template-columns: 1fr;
    }

    .footer-logo,
    .footer-links,
    .footer-contact {
        grid-column: 1 / -1;
        padding-left: 0;
    }

    .after-banner .after-banner-main {
        margin-top: -80px;
    }

    .destinations-section {
        padding-top: 35px;
    }

    .todo-item {
        height: 480px !important;

    }

    .todo-item h2 {
        font-size: 35px;
    }

    .deal-left {

        padding: 30px !important;
    }

    .deal-left {
        min-height: 200px;
    }

    .blog-img {
        height: 400px;
    }

    .blog-banner-main img {
        height: 480px;
    }




    .casino-card-img {
        max-width: 100%;
        height: 220px;
    }

    .casino-card-content {
        padding: 20px;
    }

    .casino-card-content h5 {
        font-size: 1.3rem;
    }

    .casino-card-content p {
        font-size: 1rem;
    }




    .about-paragraph-section .content h3 {
        font-size: 22px;
        text-align: center;
    }

    .about-paragraph-section .content p {
        text-align: center;
    }
}

@media screen and (max-width: 575px) {
    .banner-section {
        min-height: 50vh;
        padding: 40px 0;
    }

    .banner-section h2 {
        font-size: 1.5rem;
    }

    .banner-section p {
        font-size: 0.95rem;
    }

    .disclaimer_wrap h3 {
        font-size: 1.7rem;
    }

    .footer-pages-content-grp h3 {
        font-size: 1.5rem;
    }

    .footer-pages-wrap {
        padding: 1.25rem;
    }

    .destinations-section {
        padding-top: 15px;
    }

    .todo {
        padding: 70px 0 0;
    }

    .todo-item {
        height: 460px !important;

    }

    .todo-item h2 {
        font-size: 30px;
    }

    .deal-left .fs-5 {
        font-size: 16px !important;
    }

    .newsletter-input {
        max-width: 200px;

    }

    .btn-subscribe {


        padding: 12px 18px;

    }

    .blog-img {
        height: 360px;
    }

    .deal-left {
        min-height: 250px;
    }

    .blog-heading h2 {
        font-size: 1.5rem;
    }

    .blog-paragraph {
        padding: 10px 0 40px;
    }

    .blog-banner-main img {
        height: 350px;
    }

    .casino-card-img {
        height: 200px;
    }

    .casino-card-content {
        padding: 15px;
    }

    .casino-card-content h5 {
        font-size: 1.2rem;
    }

    .casino-card-content p {
        font-size: 0.95rem;
    }

    .footer-pages-content-grp h3 {
        font-size: 1.5rem;
    }

    .footer-pages-wrap {
        padding: 1.25rem;
    }
}

@media screen and (max-width: 480px) {
    .after-banner {
        padding: 10px 0px;
    }

    .after-banner .after-banner-main {
        padding: 25px 20px;
    }

    .todo-item {
        height: 240px !important;
    }

    .todo-item h2 {
        font-size: 25px;
    }

    .deal-left {
        padding: 15px !important;
    }

    .deal-left {
        min-height: 220px;
    }

    .deal-left .fs-5 {
        font-size: 16px !important;
    }

    .newsletter-input {
        max-width: 140px;
    }

    .btn-subscribe {
        padding: 7px 7px;
    }

    .todo-item h2 {
        font-size: 19px;
    }

    .banner-section {
        min-height: 30vh;
        padding: 40px 0;
    }

    .destination-card {


        min-height: 290px;

    }

    /* .py-5 {
        padding-top: 3rem!important;
        padding-bottom: 3rem!important;
    } */
    .blog-img {
        height: 230px;
    }

    .card-title a {
        font-size: 16px;
    }

    .first-line {
        padding-top: 0px !important;
        margin-top: 0 !important;
    }

    .from-blog {
        padding: 10px 0 !important;
    }

    .blog-banner-main img {
        height: 240px;
    }

    .blog-paragraph {
        padding: 10px 0 10px;
    }

    .blog-heading {
        padding: 30px 0 30px;
        /* text-align: center; */
    }
    .main-nav {
       
        width: 65%;
        
    }
    .main-nav ul li a {
       
        font-size: 16px;
    }
    .menu-toggle, .menu-close {
       
        font-size: 25px;
        
    }
    .logo-img img {
        width: 120px;
    }
    .menu-toggle, .menu-close {
       
        font-size: 25px;
        
    }
   
    .newsletter-input {
        max-width: 100%;
        text-align: center;
    }
    .newsletter form{
        flex-direction: column;
    }
}